// prettier-ignore
@import url(https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap);
@import "simple-grid", "menu";

//*This Sections Is the Logo style section includingf the animation of the logos
.sliderbrotherhood {
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  background-size: 50px;
  height: 250px;
}
.logoimg {
  margin-top: 130px;
  width: 100%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.logoimg:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.mentalbigdiv {
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
}
.mentalscorediv {
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 25px;

  height: 250px;
}
.mentalslider {
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  height: 250px;
}
.mentalrightarrow {
  height: 80px;
  position: absolute;
  top: 70%;
  right: 10%;
}
.mentalrightarrow:hover {
  cursor: pointer;
  cursor: url("/src/cur/cursor.cur"), pointer;
}
.mentalleftarrow {
  top: 70%;
  left: 60%;
  position: absolute;
  height: 80px;
  transform: scaleX(-1);
}
.mentalleftarrow:hover {
  cursor: url("/src/cur/cursor.cur"), pointer;
}
/*##################Specifik button to mobile#########################*/
.mobilementalrightarrow {
  height: 50px;
  position: absolute;
  top: 50%;
  right: 25%;
}
.mobilementalrightarrow:hover {
  cursor: pointer;
  cursor: url("/src/cur/cursor.cur"), pointer;
}
.mobilementalleftarrow {
  top: 50%;
  left: 25%;
  position: absolute;
  height: 50px;
  transform: scaleX(-1);
}
.mobilementalleftarrow:hover {
  cursor: url("/src/cur/cursor.cur"), pointer;
}

/*###########################################*/

/*
titlediv is the div that contains the title of each page
h1.titleindiv is the color and shadow of the h1 in the title
*/
h1.titleindiv {
  font-family: "Metal Mania", cursive;
  font-size: 4rem;
}

div.titlediv {
  margin-top: 140px;
  padding: 5px;
  width: 100%;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  color: #d10101;
  text-shadow: 2px 2px #124758;
}

.footer {
  text-align: center;
  display: block;
  bottom: 0;
  height: 15%;
  overflow: hidden;
  width: 100%;
  background: #000000;
  color: #d10101;
}

.slider {
  height: 682px;
  overflow: hidden;
  text-align: center;
  border-radius: 25px;
  background-color: white;
}
.brotherhoodslider {
  height: 920px;
  overflow: hidden;
  text-align: center;
  border-radius: 25px;
  color: red;
  background-color: white;
}
.brotherrightarrow {
  height: 150px;
  position: absolute;
  top: 20%;
  right: 10%;
}
.brotherrightarrow:hover {
  cursor: pointer;
  cursor: url("/src/cur/cursor.cur"), pointer;
}
.brotherleftarrow {
  top: 20%;
  left: 10%;
  position: absolute;
  height: 150px;
  transform: scaleX(-1);
}
.brotherleftarrow:hover {
  cursor: url("/src/cur/cursor.cur"), pointer;
}

.sliderbackgroundimage {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.rightarrow {
  height: 150px;
  position: absolute;
  top: 30%;
  right: 10%;
}
.rightarrow:hover {
  cursor: pointer;
  cursor: url("/src/cur/cursor.cur"), pointer;
}
.leftarrow {
  top: 30%;
  left: 10%;
  position: absolute;
  height: 150px;
  transform: scaleX(-1);
}
.leftarrow:hover {
  cursor: url("/src/cur/cursor.cur"), pointer;
}
