div.header {
  width: 100%;
  top: 0;
  z-index: 1;
  height: 25px;
  background: #000000;
  position: fixed;
  text-align: center;
  color: #46cad9;
  text-shadow: 2px 2px #124758;
}

.belowheader {
  margin-top: 25px;
}
//*This Sections Is the Logo style section includingf the animation of the logos
.logoimg {
  width: 100%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
.logoimg:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/*
titlediv is the div that contains the title of each page
h1.title is the color and shadow of the h1 in the title
*/
div.titlediv {
  margin-top: 5%;
  padding: 5px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  color: #52deee;
  text-shadow: 2px 2px #124758;
  font-size: 40px;
}

.footer {
  text-align: center;
  margin-top: 25%;
  position: absolute;
  width: 100%;
  background: #000000;
}
.footertext {
  color: #46cad9;
  text-shadow: 2px 2px #124758;
}

.slider {
  width: 60%;
  text-align: center;
  margin-left: 20%;
  border-radius: 25px;
  background-color: white;
  border-style: solid;
  overflow: hidden;
}

.slidercenter {
  padding: 25px;
  background-color: white;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  overflow: hidden;
}
.slidercenterimage {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
