$transition: ease-in-out 0.6s;

.panel {
  transition: $transition;
}

.header {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  text-align: center;
  position: fixed;
  top: 0px;

  background-color: black;
  height: 80px;
  color: red;
  width: 100%;
  z-index: 3001;
  cursor: url("/src/cur/cursor.cur"), pointer;
}
.header div.container {
  position: relative;
}

.header nav {
  position: absolute;
  width: 100%;
  top: 80px;
  display: block;
  transition: $transition;
  padding-top: 12px;
  z-index: 3002;

  height: auto;
  background-color: black;
  overflow: hidden;
}

.header nav.hidden {
  display: none;

  // transform: translateY(-50px);
}
.header nav.visible {
  display: block;
  // transform: translateY(0px);
}

.header a {
  border-color: red;
  border-style: solid;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  display: block;
  width: calc(100% - 20px);
  &:hover {
    border-left: 5px solid;
    background-color: red;
  }
  &.active {
    background-color: red;
  }
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 5px;
}

#nav-icon span:nth-child(2) {
  top: 15px;
}

#nav-icon span:nth-child(3) {
  top: 25px;
}

#nav-icon.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/*########## Mobile Section ##############*/

.menuloggo {
  top: 0;
  position: absolute;
  height: 80px;
  left: 0px;
}
.panel {
  transition: $transition;
}

.headermobile {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  position: fixed;
  text-align: center;
  top: 0px;
  background-color: black;
  height: 80px;
  color: red;
  width: 100%;
  z-index: 3001;
  cursor: url("/src/cur/cursor.cur"), pointer;
}
.headermobile div.container {
  position: relative;
}

.headermobile nav {
  position: absolute;
  width: 100%;
  top: 80px;
  display: block;
  transition: $transition;
  padding-top: 12px;
  z-index: 3002;

  height: auto;
  background-color: black;
  overflow: hidden;
}

.headermobile nav.hidden {
  display: none;

  // transform: translateY(-50px);
}
.headermobile nav.visible {
  display: block;
  // transform: translateY(0px);
}

.headermobile a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  display: block;
  width: calc(100% - 20px);
  &:hover {
    border-left: 5px solid;
    background-color: red;
  }
  &.active {
    background-color: red;
  }
}
